.content {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px 35px;
  padding-top: 30px;

  overflow: auto;

  @media (max-width: 576px) {
    height: 100%;
    padding: 20px;
  }
}

/* .filters {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;

  input,
  select {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;

    &:focus {
      border: solid 6px #E5F6FE;
    }
  }
} */

table {
  /* border-collapse: collapse; */
  width: 100%;
  resize: both;
  overflow: auto;

  thead {
    tr {
      background: #E5F6FE;
    }
  }

  td {
    border-bottom: 0.5px solid #EDF0F5;
    padding: 10px;
    text-align: left !important;
  }

  th {
    padding: 5px;
    /* border-radius: 5px; */
    text-align: left !important;
  }
}