
<div class="landing">
    <div class="landing-left">
      <img src="assets/logo.png" alt="Ietech logo" />
      <h3>Leave Management System</h3>
      <form>
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Sign In</button>
        <a class="forgot">Forgot Password?</a>
    </form>
    </div>

    <div class="landing-right">
      <!-- <img src="../../assets/loginBackground.jpg" alt=""> -->
      
    </div>
</div>
