<div class="content">
  <h3>Latest Requests</h3>
  <div class="wrap">
    <div class="top-div">
      <h4>Badru Awwal</h4>
    </div>
    <div class="bottom-div">
      <p>Casual Leave</p>
      <p class="days">16-03-2024  -  22-03-2024 ( 3 days )</p>
      <button class="status">view</button>
    </div>
  </div>
  <div class="wrap">
    <div class="top-div">
      <h4>Badru Awwal</h4>
    </div>
    <div class="bottom-div">
      <p>Casual Leave</p>
      <p class="days">16-03-2024  -  22-03-2024 ( 6 days )</p>
      <button class="status">view</button>
    </div>
  </div>
  <div class="wrap">
    <div class="top-div">
      <h4>Badru Awwal</h4>
    </div>
    <div class="bottom-div">
      <p>Casual Leave</p>
      <p class="days">16-03-2024  -  22-03-2024 ( 12 days )</p>
      <button class="status">view</button>
    </div>
  </div>
  <a href="/leaves" class="show-more">Show more</a>
</div>