.content {
  width: 100%;
  height: 320px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px 25px;

  @media (max-width: 576px) {
    height: 100%;
    padding: 20px;
  }

  h3 {
    margin-bottom: 25px;
  }

  .show-more {
    margin-top: 25px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
    color: #0c27bc;
  }
}

.wrap {
  margin: 10px;
  border-bottom: #e7e7e7 solid 1px;
  padding-bottom: 5px;
}

.top-div,
.bottom-div {
  display: flex;
  justify-content: space-between;
}

.top-div {
  h4 {
    font-weight: 500;
    font-size: 14px;
  }


}

.bottom-div {
  margin-top: 5px;
  font-size: 10px;
  color: #757575;

  .status {
    padding: 3px 10px;
    color: #03A9F4;
    border: #03a8f41a solid 2px;
    background-color: #03a8f41a;
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
  }

  p .days {
    width: 100%;
    text-align: center;
    /* margin-top: 8px; */
    /* border-top: #757575 1px dotted; */
  }
}