.content {
  padding-top: 120px;
  display: flex;
  margin-top: 20px;
  gap: 22px;

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
  }

  @media (max-width: 1096px) {
    flex-direction: column;
    padding-top: 20px;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }
}