<div class="sidebar-container" [ngClass]="{'show': showSidebar}">
  <button class="close-button" (click)="toggleSidebar()">X</button>
  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Ietech logo" />
    </a>
  </div>

  <div class="menu">
    <header>MENU</header>
    <ul>
      <li *ngFor="let menuItem of menuItems" (click)="toggleSidebar()">
        <a [routerLink]="menuItem.link" [class.active]="currentRoute === menuItem.link">
          {{ menuItem.label }}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="hamburger-menu" (click)="toggleSidebar()">
  <div class="hamburger-icon">&#9776;</div>
</div>
