/* sidebar.component.css */
.sidebar-container {
  color: #fff;
  background: #1a202c;
  position: fixed;
  width: 205px;
  height: 100%;
  font-weight: 300;
  z-index: 10;
  transition: width 0.3s ease;
  overflow-x: hidden;

  .show {
    width: 0;
  }

  .close-button {
    display: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    font-size: large;
    font-weight: 500;
    padding: 10px 15px;
    justify-content: right;
    margin-left: 79%;
  }

  .active {
    border-left: 6px solid #03a9f4;
    color: #03a9f4;
  }
}

.logo-container {
  text-align: center;
  margin-top: 40px;

  img {
    width: 80%;
    height: 50px;
  }
}

.menu {
  margin-top: 50px;

  header {
    color: #718096;
    font-size: 13px;
    padding: 16px 46px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    border: 6px solid #1a202c;
    padding: 15px 40px;
    text-decoration: none;
    color: #fff;
    display: block;
    display: flex;
    align-items: center;

    img {
      padding-right: 12px;
    }

    &:hover {
      border-left: 6px solid #03a9f4;
    }
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background-color: #03a9f4;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 35px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.hamburger-icon {
  font-size: 20px;
}

/* Media query for responsiveness */
@media screen and (max-width: 820px) {
  .sidebar-container {
    width: 0;

    .close-button {
      display: block;

    }
  }

  .show {
    width: 205px;
  }

  .hamburger-menu {
    display: block;
  }
}