<div class="content">
  <h3>Leave Request</h3>

  <form>
    <div class="date-fields">
      <div>
        <label for="start-date">Start Date</label>
        <input type="date" id="start-date" required>
      </div>

      <div>
        <label for="end-date">End Date</label><br>
        <input type="date" id="end-date" required>
      </div>

      <div>
        <label for="days">Days</label><br>
        <input type="next" id="days" class="days" value="30" readonly>
      </div>

      <div>
        <label for="type">Leave Type</label><br>
        <select id="type" required>
          <option>Casual Leave</option>
          <option>Sick Leave</option>
        </select>
      </div>
    </div>

    <div class="date-fields">
      <div class="comment">
        <label for="hod">Dept. Head</label><br>
        <select id="hod" required>
          <option>Mr Tosin</option>
          <option>Mr Ray</option>
        </select>
      </div>

      <div>
        <label for="reliever">Reliver</label><br>
        <select id="reliever" required>
          <option>Mr Ridwan</option>
          <option>Mr Peter</option>
        </select>
      </div>

      <div>
        <label for="pdf">Handover Document</label><br>
        <input type="file" id="pdf" required>
      </div>
    </div>

    <div class="comment">
    <label for="comment">Comment</label><br>
    <textarea type="next" id="comment" placeholder="Why are you applying for a leave?"></textarea>
    </div>  

    <button type="submit">✔ Send Request</button>
    <!-- <div class="calender">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div> -->
  </form>
</div>