<div class="wrap">

  <div class="content" style="background-color: #03A9F4;">
    <div>
      <h3>20</h3>
      <p>Total Leaves</p>
    </div>
  </div>

  <div class="content" style="background-color: #C603F4;">
    <div>
      <h3>20</h3>
      <p>Used Leaves</p>
    </div>
  </div>

  <div class="content" style="background-color: #F44E03;">
    <div>
      <h3>20</h3>
      <p>Available Leaves</p>
    </div>
  </div>

  <div class="content" style="background-color: #30F403;">
    <div>
      <h3>20</h3>
      <p>Available Leaves</p>
    </div>
  </div>

</div>