<div class="content">
  <h3>My Latest Requests</h3>
  <div class="wrap">
    <div class="top-div">
      <h4>Casual Leave</h4>
      <p class="status">Pending</p>
    </div>
    <div class="bottom-div">
      <p>16-03-2024</p>
      <p class="days">( 3 days )</p>
      <p>22-03-2024</p>
    </div>
  </div>
  <div class="wrap">
    <div class="top-div">
      <h4>Casual Leave</h4>
      <p class="status">Pending</p>
    </div>
    <div class="bottom-div">
      <p>16-03-2024</p>
      <p class="days">( 6 days )</p>
      <p>22-03-2024</p>
    </div>
  </div>
  <div class="wrap">
    <div class="top-div">
      <h4>Casual Leave</h4>
      <p class="status">Pending</p>
    </div>
    <div class="bottom-div">
      <p>16-03-2024</p>
      <p class="days">( 12 days )</p>
      <p>22-03-2024</p>
    </div>
  </div>
  <a href="/leaves" class="show-more">Show more</a>
</div>